:root {
    --marmol-blanco: #F0F0F0;
    --marmol-beige: #D4C2A5;
    --gris-claro: #B8B8B8;
    --gris-oscuro: #4A4A4A;
    --blanco-puro: #FFFFFF;
    --gris-medio: #A0A0A0;
}

.contacto {
    background-color: #c2c2c2;
    color: var(--gris-oscuro);
    padding: 40px 0;
    text-align: center;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.contactanos {
    background-color: #c2c2c2;
}

.container {
    max-width: 100%;
}

.contacto-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--gris-oscuro);
}

.contacto-description {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: var(--gris-oscuro);
}

.btn-whatsapp {
    background-color: #41e99a;
    border: 2px solid var(--marmol-blanco);
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    border-radius: 50px;
    color: var(--gris-oscuro);
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-whatsapp:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    background-color: #52b788;
    color: var(--gris-oscuro);
}

.map-container {
    margin-top: 20px;
    border: 2px solid var(--marmol-blanco);
    border-radius: 8px;
    overflow: hidden;
}

.map-container iframe {
    width: 100%;
    height: 300px;
}

/* Responsivo */
@media (max-width: 768px) {
    .contacto-title {
        font-size: 2rem;
    }

    .contacto-description {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .btn-whatsapp {
        font-size: 1.2rem;
        padding: 0.8rem 2rem;
    }

    .map-container iframe {
        height: 200px;
    }

    .contacto p {
        font-size: 0.9em;
    }
}
