:root {
    --marmol-blanco: #F0F0F0;  /* Blanco mármol */
    --marmol-beige: #D4C2A5;   /* Beige mármol */
    --gris-claro: #B8B8B8;     /* Gris claro */
    --gris-oscuro: #4A4A4A;    /* Gris oscuro */
    --blanco-puro: #FFFFFF;    /* Blanco puro */
    --gris-medio: #A0A0A0;     /* Gris medio */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--marmol-blanco); /* Mármol Blanco */
}

footer {
    background-color: var(--gris-oscuro); /* Gris oscuro */
    color: var(--blanco-puro); 
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.footer-column {
    flex: 1;
    padding: 10px 20px;
    margin: 0 10px;
}

.footer-column h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--blanco-puro); /* Blanco puro */
}

.footer-column p {
    margin: 5px 0;
    color: var(--marmol-blanco); /* Mármol Blanco */
}

.footer-column a {
    color: var(--blanco-puro); /* Blanco puro */
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-column i {
    font-size: 1.5em;
    margin: 0 10px;
    color: var(--marmol-blanco); /* Mármol Blanco */
}

.footer-column i:hover {
    color: var(--marmol-beige); /* Mármol Beige */
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 1px solid var(--blanco-puro); /* Blanco puro */
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9em;
    color: var(--marmol-blanco); /* Mármol Blanco */
}

#main-footer::before, #main-footer::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin: 10px 0;
    }
}
