:root {
    --marmol-blanco: #F0F0F0;  
    --marmol-beige: #D4C2A5;   
    --gris-claro: #B8B8B8;     
    --gris-oscuro: #4A4A4A;    
    --blanco-puro: #FFFFFF;    
    --gris-medio: #A0A0A0;     
}

header {
    background-color: var(--gris-oscuro); 
    color: var(--marmol-beige); 
    padding: 30px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em; 
    font-family: 'Playfair Display', serif; 
    text-transform: uppercase;
    letter-spacing: 2px; 
    color: var(--marmol-blanco); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.sub {
    margin-top: -25px; 
    font-size: 1.5em; 
    font-family: 'Lora', serif; 
    font-style: italic;
    color: var(--marmol-beige); 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); 
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--marmol-beige); 
    text-decoration: none;
    font-size: 1.2em;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.2em;
    }

    .sub {
        font-size: 1.2em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li a {
        font-size: 1em;
        padding: 10px 0;
    }
}
