:root {
    --marmol-blanco: #F0F0F0;  /* Blanco mármol */
    --marmol-beige: #D4C2A5;   /* Beige mármol */
    --gris-claro: #B8B8B8;     /* Gris claro */
    --gris-oscuro: #4A4A4A;    /* Gris oscuro */
    --blanco-puro: #FFFFFF;    /* Blanco puro */
    --gris-medio: #A0A0A0;     /* Gris medio */
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: var(--marmol-blanco); /* Fondo blanco mármol */
    color: var(--gris-oscuro);  /* Texto gris oscuro */
}

header {
    background-color: var(--gris-medio); /* Gris medio */
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
    color: var(--blanco-puro);  /* Texto blanco puro */
}

footer {
    background-color: var(--gris-oscuro); /* Gris oscuro */
    padding: 1rem;
    color: var(--blanco-puro);  /* Texto blanco puro */
}

h1, h2, h3, h4 {
    color: var(--gris-oscuro); /* Gris oscuro */
}

nav a {
    color: var(--marmol-beige); /* Beige mármol */
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    color: var(--gris-claro);  /* Gris claro */
}

.section-centrada .container {
    max-width: 1200px;
    margin: 0 auto;
}

.img-agrandada {
    width: 100%;
    background-color: var(--marmol-blanco);
    max-width: 400px; 
    height: auto;
}

.text-mejorado {
    font-family: 'Georgia', serif;
    color: #081c15;
    line-height: 1.6;
}

.text-mejorado h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2d6a4f;
}

.text-mejorado p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

/* Bienvenidos */
.hero-section {
    position: relative;
    background-image: url('https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    padding: 60px 20px; 
    color: var(--marmol-blanco); 
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 1;
}

.hero-overlay {
    background: rgba(74, 74, 74, 0.7); 
    padding: 30px; 
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
}

.hero-title {
    font-family: 'Georgia', serif;
    font-size: 2.5rem; 
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--marmol-beige); 
    animation: slideInFromTop 1.5s ease-out;
}

.hero-subtitle {
    font-family: 'Arial', sans-serif;
    font-size: 1.3rem; 
    margin-bottom: 10px;
    color: var(--gris-claro); 
    animation: fadeInUp 1.5s ease-out;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
