:root {
    --marmol-blanco: #F0F0F0;  /* Blanco m치rmol */
    --marmol-beige: #D4C2A5;   /* Beige m치rmol */
    --gris-claro: #B8B8B8;     /* Gris claro */
    --gris-oscuro: #4A4A4A;    /* Gris oscuro */
    --blanco-puro: #FFFFFF;    /* Blanco puro */
    --gris-medio: #A0A0A0;     /* Gris medio */
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: var(--marmol-blanco); /* Fondo blanco m치rmol */
    color: var(--gris-oscuro);  /* Texto gris oscuro */
}

header {
    background-color: var(--gris-medio); /* Gris medio */
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
    color: var(--blanco-puro);  /* Texto blanco puro */
}

footer {
    background-color: var(--gris-oscuro); /* Gris oscuro */
    padding: 1rem;
    color: var(--blanco-puro);  /* Texto blanco puro */
}

h1, h2, h3, h4 {
    color: var(--gris-oscuro); /* Gris oscuro */
}

nav a {
    color: var(--marmol-beige); /* Beige m치rmol */
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    color: var(--gris-claro);  /* Gris claro */
}

.section-centrada .container {
    max-width: 1200px;
    margin: 0 auto;
}

.img-agrandada {
    width: 100%;
    background-color: var(--marmol-blanco);
    max-width: 400px; 
    height: auto;
}

.text-mejorado {
    font-family: 'Georgia', serif;
    color: #081c15;
    line-height: 1.6;
}

.text-mejorado h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2d6a4f;
}

.text-mejorado p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

