:root {
    --marmol-blanco: #F0F0F0; 
    --marmol-beige: #D4C2A5;  
    --gris-claro: #B8B8B8;     
    --gris-oscuro: #4A4A4A;  
    --blanco-puro: #FFFFFF;    
    --gris-medio: #A0A0A0;    
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: var(--marmol-blanco); 
    color: var(--gris-oscuro);  
}

header {
    background-color: var(--gris-medio); 
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
    color: var(--blanco-puro);  
}

footer {
    background-color: var(--gris-oscuro); 
    padding: 1rem;
    color: var(--blanco-puro); 
}

h1, h2, h3, h4 {
    color: var(--gris-oscuro);
}

nav a {
    color: var(--marmol-beige); 
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    color: var(--gris-claro); 
}

.section-centrada .container {
    max-width: 1200px;
    margin: 0 auto;
}

.img-agrandada {
    width: 100%;
    background-color: var(--marmol-blanco);
    max-width: 400px; 
    height: auto;
}

.text-mejorado {
    font-family: 'Georgia', serif;
    color: #081c15;
    line-height: 1.6;
}

.text-mejorado h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2d6a4f;
}

.text-mejorado p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

/* Bienvenidos */
.hero-section {
    position: relative;
    background-image: url('https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    padding: 60px 20px; 
    color: var(--marmol-blanco); 
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 1;
}

.hero-overlay {
    background: rgba(74, 74, 74, 0.7); 
    padding: 30px; 
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
}

.hero-title {
    font-family: 'Georgia', serif;
    font-size: 2.5rem; 
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--marmol-beige); 
    animation: slideInFromTop 1.5s ease-out;
}

.hero-subtitle {
    font-family: 'Arial', sans-serif;
    font-size: 1.3rem; 
    margin-bottom: 10px;
    color: var(--gris-claro); 
    animation: fadeInUp 1.5s ease-out;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Servicios */
.services-section {
    background-color: var(--marmol-beige); 
    padding: 50px 20px;
    color: var(--gris-oscuro); 
    text-align: center;
}

.containerservicio {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title {
    font-size: 2.8em;
    color: var(--gris-oscuro);
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.section-title::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: var(--gris-oscuro); 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.rowservicio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.card-servicio {
    background-color: var(--blanco-puro); 
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    border: 2px solid var(--gris-oscuro);
}

.card-servicio:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.card-servicio h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: var(--gris-oscuro); 
    border-bottom: 2px solid var(--marmol-beige);
    padding-bottom: 10px;
}

.card-servicio p {
    font-size: 1.1em;
    color: var(--gris-medio); 
    line-height: 1.5;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 2.2em;
    }

    .card-servicio h3 {
        font-size: 1.5em;
    }

    .card-servicio p {
        font-size: 1em;
    }
}